<button class="btn" id="theme-toggle" style="margin-right: 15px; font-size: 14px;">
  🌓 Thème
</button>

<script>
  const themeToggle = document.getElementById('theme-toggle');
  
  let savedTheme = localStorage.getItem('theme');
  

  if (savedTheme === 'light') {
    jtd.setTheme('light');
  } else {
    jtd.setTheme('dark');
    localStorage.setItem('theme', 'dark'); 
  }
  

  themeToggle.addEventListener('click', function(e) {
    e.preventDefault(); 

    let currentTheme = jtd.getTheme();
    
    if (currentTheme === 'dark') {
      jtd.setTheme('light');
      localStorage.setItem('theme', 'light');
    } else {
      jtd.setTheme('dark');
      localStorage.setItem('theme', 'dark');
    }
  });
</script>

<br><br><br>
<div style="text-align: center; opacity: 0.2; font-size: 11px; margin-top: 50px;">
  <span id="egg" style="cursor: pointer; font-family: monospace;" title="Ne pas cliquer...">&lt;script&gt;alert(document.cookie)&lt;/script&gt;</span>
</div>

<script>
  document.getElementById('egg').addEventListener('click', function() {
    const fakeCookie = "jwt_session=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTc4NTg2NjQ2OX0.swpvhkiZ56Vj9qMWL6GrH4e3UDh7GfUBcej4YdZBXmI; Secure; HttpOnly";
    
    alert("[!] XSS TRIGGERED [!]\n\nContenu de document.cookie :\n" + fakeCookie + "\n\n------------------------------\nNon je plaisante, \nMerci d'avoir explore mon portfolio jusqu'au bout (ou peut etre pas ?...).");
  });

  console.log("%c[+] Acces systeme autorise.", "color: #00ff00; font-size: 14px; font-weight: bold; font-family: monospace;");
  console.log("%cSi vous lisez ceci, c'est que vous aimez regarder sous le capot. Nous sommes faits pour nous entendre ! \nContactez-moi pour une alternance : rayan.boughanem@univ-rouen.fr", "color: #aaaaaa; font-size: 12px; font-family: monospace;");
</script>
